---
- name: Ensure required packages are available
  ansible.builtin.apt:
    name:
      - dovecot-core

- name: Ensure SASL password file is available
  ansible.builtin.copy:
    dest: "{{ postfix_relay_password_file }}"
    content: |
      {% for account in postfix_relay_users %}
      {{ account.username }}:{{ account.password | password_hash('argon2', postfix_relay_password_salt) }}
      {% endfor %}
    owner: root
    group: dovecot
    mode: "0640"

- name: Ensure Dovecot configuration files are available
  ansible.builtin.template:
    src: "{{ lookup('ansible.builtin.first_found', os_release | map('regex_replace', '^(.*)$', 'templates/dovecot/' ~ item ~ '\\1.conf.j2')) }}"
    dest: "/etc/dovecot/conf.d/{{ item }}.conf"
    owner: root
    group: root
    mode: "0644"
  loop:
    - 10-auth
    - 10-master
  notify:
    - Restart dovecot
    - Restart postfix
  vars:
    os_release:
      - "_{{ ansible_facts.distribution ~ ansible_facts.distribution_major_version }}"
      - "_{{ ansible_facts.distribution }}"
      - ""
